@import "fontiran.css";
.antialiased{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.iran_yekan{
    font-family: iranyekan,'sans-serif';
}
.iran_sans{
    font-family: iransansfont,'sans-serif';
}
.mitra{
    font-family: mitra,'sans-serif';
}
.iran_nastaliq{
    font-family: nastaliq,'sans-serif';
}
.sedaghat{
    font-family: sedaghat,'sans-serif';
}
.laleh{
    font-family: lalehzar,'sans-serif';
}
.white_color{
    color: #ffffff;
}
.black_color{
    color: #1d1d1d;
}
.red_color{
    color: red;
}
.green_color{
    color: green;
}
.bootbox{
    font-family: iranyekan,'sans-serif'!important;
}
.small_font{
    font-size: 10px!important;
}
.ltr{
    direction: ltr!important;
}
[v-cloak] {display: none}
