/**
*
*	Name:			IRANYekan Font
*	Version:			3.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 20, 2018
*	Updated on:		Dec 20, 2018
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*
**/
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/iranyekanwebregularfanum.eot');
	src: url('/fonts/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/iranyekanwebregularfanum.woff') format('font-woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
    src: url("/fonts/IranNastaliq.ttf");
    font-family: nastaliq;
    font-style: normal;
}

@font-face {
    src: url("/fonts/Sedaghat.woff2");
    font-family: sedaghat;
    font-style: normal;
}
@font-face {
    font-family: mitra;
    src: url('/fonts/BMitra.eot');
    src: url('/fonts/BMitra.eot?#iefix') format("embedded-opentype"), url('/fonts/BMitra.woff') format("font-woff"), url('/fonts/BMitra.ttf') format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: lalehzar;
    src: url('/fonts/Lalezar-Regular.ttf') format("truetype");
    font-style: normal
}
